@page "/comics-datagrid"
@attribute [RenderStatic]
@using ExampleDataApis.ServiceModel

@{
    ViewData["Title"] = "Xkcd Comics";
}

<div class="bg-gray-100 py-8">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="xkcd-comics"></div>
    </div> 
</div>

<script type="module">
import Comics from "/mjs/ComicsDatagrid.mjs"
import { mount } from "/mjs/app.mjs"
mount("#xkcd-comics", Comics, { comics: [] })
</script>