@page "/comics-datagrid"
@attribute [RenderStatic]

@{
    ViewData["Title"] = "DataGrid View";
}

@await Html.PartialAsync("SrcLink","https://github.com/NetCoreApps/Xkcd/blob/master/Xkcd/Pages/ComicsDataGrid.cshtml")

<div class="py-8">
    <h2 class="flex justify-center items-center my-8 text-center font-display text-5xl font-bold tracking-tight text-slate-800 dark:text-slate-200">
        <a href="https://docs.servicestack.net/vue/gallery/datagrid" target="_blank" title="DataGrid Vue Component">
            <svg class="inline-block mr-1 h-10 w-10 hover:text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.146 9.074a2.998 2.998 0 0 1 5.28-.838A3 3 0 0 1 12 13v1m0 7a9 9 0 1 1 0-18a9 9 0 0 1 0 18Zm.05-4v.1h-.1V17h.1Z"/></svg></a>
        DataGrid xkcd
    </h2>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="app">
            <form v-on:submit.prevent="submit" class="mb-8 mx-auto w-96">
                <div class="flex items-center">
                    <loading :class="['mr-2',client.loading.value ? '' : 'invisible']"></loading>
                    <text-input class="mr-2 w-full w-prose w-100" type="search" v-model="request.titleContains" placeholder="search xkcd comic titles"></text-input>
                    <primary-button>Go</primary-button>
                </div>
            </form>
            <data-grid :items="comics" 
                      selected-columns="imageUrl,transcript" 
                      v-on:row-selected="rowSelected" :is-row-selected="row => row == selected"
                      :header-titles="{ imageUrl:'Comic',transcript: 'Description' }"
                      class="max-w-screen-lg mx-auto">
                <template #imageUrl="{ imageUrl }">
                    <img :src="imageUrl" class="h-48 object-cover" loading="lazy"> 
                </template>
                <template #transcript="{ title, transcript, width, height }">
                    <div class="flex flex-col max-w-3xl">
                        <div class="flex justify-between">
                            <h2 class="text-lg font-semibold text-gray-900">{{ title }}</h2>
                            <div class="text-right text-sm font-semibold block">{{width}} x {{height}}</div>
                        </div>
                        <p class="whitespace-normal break-words overflow-hidden max-h-40">{{ transcript }}</p>
                    </div>
                </template>
            </data-grid>
            <modal-comic v-if="selected" :comic="selected" v-on:done="selected=null"></modal-comic>
        </div>
    </div> 
</div>

<script type="module">
import { ref, onMounted } from "vue"
import { QueryXkcdComics } from "dtos.mjs"
import { mount } from "app.mjs"
import { useClient, useUtils } from "@@servicestack/vue"
import { queryString } from "@@servicestack/client"

const App = {
    props: { comics:Array },
    setup(props) {
        const client = useClient()
        const { pushState } = useUtils()

        const qs = queryString(location.search)
        const comics = ref(props.comics || [])
        const request = ref(new QueryXkcdComics({ take:25, titleContains:qs.q || '' }))
        const selected = ref()

        function rowSelected(comic,e) {
            selected.value = comic
        }

        async function submit() {
            let results = await client.api(request.value)
            comics.value = results.response.results
            pushState({ q:request.value.titleContains || undefined })
        }
        onMounted(submit)

        return { comics, request, submit, client, selected, rowSelected }
    },
}
mount('#app', App)
</script>