@page "/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Home page";
}

<div class="py-8">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div data-component="Comics"></div>
    </div> 
</div>
